@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 20px;
    background-color: #f6f6f6;
    font-family: "Roboto Slab", sans-serif;
}

.container{
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1{
    font-size: 36px;
    margin-top: 0;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input{
    color: #666;
    width: 100%;
    max-width: 300px;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
}

button{
    margin-top: 20px;
    font-family: "Roboto Slab", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #0078af;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    transform: scale(1.1);
    background-color: #009aaf;
}

p{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}